<configuration>
    <appSettings>
        <add key="token" value=""/> <!-- put your bot token here -->
        <add key="dbName" value=""/>
        <add key="dbAdress" value=""/>
        <add key="dbPort" value=""/>
        <add key="dbUsername" value=""/>
        <add key="dbPassword" value=""/>
    </appSettings>
</configuration>